{% extends 'base/base.html'%}

{% block title %}Alta Proveedor{% endblock %}

{% block content %}
<main class="container">
    <section>
        <div class="text-center mb-5">
            <h1>Alta de Proveedores</h1>
        </div>
                <div class="d-flex justify-content-center">
                    <form class="w-50 border rounded p-4" action="" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                          <label for="nombre" class="form-label">Nombre</label>
                          <input name="nombre" type="text" class="form-control" id="nombre" placeholder="Nombre del Proveedor...">
                        </div>
                        <div class="mb-3">
                          <label for="apellido" class="form-label">Apellido</label>
                          <input name="apellido" type="text" class="form-control" id="apellido" placeholder="Apellido del Proveedor...">
                        </div>
                        <div class="mb-4">
                          <label for="dni" class="form-label">DNI</label>
                          <input name="dni" type="number" class="form-control" id="dni" placeholder="DNI del Proveedor...">
                        </div>
                        <div class="mb-3 text-center">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
    </section>

</main>

{% endblock %}