{% extends 'base/base.html'%}

{% block title %}Listado Productos{% endblock %}

{% block content %}
<main class="container">

    {% if messages %}
        {% for message in messages %}
            <div class="d-flex justify-content-center">
                <div class=" w-50 text-center p-5 alert alert-success" role="alert">
                    {{message}}
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <section class="mb-5 mt-5">

        <h2 class="mb-5">Listado de Productos</h2>

        {% if not page_obj%}
            <p class="p-5 text-center fw-bold ">No hay productos que mostrar!!!...</p>
        {%else%}

        <div>
            <table class="table">
              <thead class="table-info">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Producto</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Stock</th>
                  <th scope="col">Proveedor</th>
                </tr>
              </thead>
              <tbody>
                {% for producto in page_obj %}
                <tr class="{% if forloop.counter|divisibleby:2 %} table-danger {% endif %}">
                  <th scope="row">{{producto.id}}</th>
                  <td>{{producto.nombre}}</td>
                  <td>{{producto.precio}}$</td>
                  <td>{{producto.stock_actual}}c/u</td>
                  <td>{{producto.proveedor}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <div class="p-3 d-flex justify-content-center">
                <span class="pagination step-links">
                    {% if page_obj.has_previous %}
                        <a class="page-link" href="?page=1">&laquo; primera</a>
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previa</a>
                    {% endif %}

                    <span class="text-secondary page-link current">
                        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a class="page-link"  href="?page={{ page_obj.next_page_number }}">siguiente</a>
                        <a class="page-link"  href="?page={{ page_obj.paginator.num_pages }}">ultima &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
        {%endif%}
    </section>

</main>

{% endblock %}