{% extends 'base/base.html'%}

{% block title %}Listado Proveedores{% endblock %}

{% block content %}
<main class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="d-flex justify-content-center">
                <div class=" w-50 text-center p-5 alert alert-success" role="alert">
                    {{message}}
                </div>
            </div>
        {% endfor %}
    {% endif %}
     <section class="mb-5 mt-5">

        <h2 class="mb-5">Listado de Proveedores</h2>

        {% if not page_obj%}
            <p class="text-center fw-bold mb-5 p-5">No hay proveedores que mostrar!!!...</p>
        {%else%}
         <div class="d-flex justify-content-end">
            <a class="text-light mb-2 btn btn-success me-2" href="{% url 'compra:alta_proveedor' %}"><i class="fa-solid fa-plus"></i> Agregar Proveedor</a>
        </div>

        <div>
            <table class="table">
              <thead class="table-success">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Proveedor</th>
                  <th scope="col">DNI</th>
                </tr>
              </thead>
              <tbody>
                {% for proveedor in page_obj %}
                <tr class="{% if forloop.counter|divisibleby:2 %} table-secondary {% endif %}">
                  <th scope="row">{{proveedor.id}}</th>
                  <td>{{proveedor.nombre}} {{proveedor.apellido}}</td>
                  <td>{{proveedor.dni}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
            <div class="p-3 d-flex justify-content-center">
                <span class="pagination step-links">
                    {% if page_obj.has_previous %}
                        <a class="page-link" href="?page=1">&laquo; primera</a>
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previa</a>
                    {% endif %}

                    <span class="text-secondary page-link current">
                        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a class="page-link"  href="?page={{ page_obj.next_page_number }}">siguiente</a>
                        <a class="page-link"  href="?page={{ page_obj.paginator.num_pages }}">ultima &raquo;</a>
                    {% endif %}
                </span>
            </div>

        {% endif %}
    </section>

</main>

{% endblock %}