html {
    /*font-size: 62.5%;*/
    box-sizing: border-box;
    height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.header{
    background-image: url("../../static/img/stock.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__title{
    font-size: 4.5rem;
    backdrop-filter: blur(2px);
}
.errorlist{
    list-style: none;
}
.formulario{
    width: 100% !important;
}
@media (min-width: 576px) {
    .formulario{
        width: 80% !important;
    }
}
@media (min-width: 768px) {
    .formulario{
        width: 50% !important;
    }
}
